/* Scrollbar width */
::-webkit-scrollbar {
  display: none;

    width: 8px; 
 
  }
  
  /* Scrollbar track (background) */
  ::-webkit-scrollbar-track {
    background:rgb(202, 109, 109); 
    border-radius: 10px;
  }
  
  /* Scrollbar thumb (handle) */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  
  /* Hover effect */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  